ion-header {
    background: linear-gradient(to right, #2ab7fe 0%,#3090fe 100%);
    ion-toolbar {
      transition: 0.5s all ease-in-out;--background: none;--box-shadow: none;padding-right: 8px;
      ion-label {font-weight: 400;font-family: "Poppins";text-align: left;color: white;font-size: 14px;margin: 0 10px;padding: 0px;}
      .backBtn {color: white;}
      .sortBtn {font-size: 1.1rem;color: white;color: white;padding-right: 5px;}
    }
  }
  ion-content {
    .btnRow{
      padding: 0;margin: 15px 20px;
      ion-col{
        padding: 0;
        &.spacedv {padding: 0px 8px;}
      }
      ion-button{margin:0;font-family: "Poppins";height: 44px;width: 100%;--background: #2da8fe;--box-shadow: none;--border-radius: 4px;--padding-start: 0;--padding-end: 0;font-size: 15px;--color: #fff;font-weight: 300;letter-spacing: 0.1rem;--background-activated: #2da8fe;--background-focused: #2da8fe;--background-hover: #2da8fe;text-transform: uppercase;}
    }
    .profile{
      height: 110px;width: 110px;margin:2vh auto 15px;background: #fff;border: 4px solid #3093fe6e;position: relative;
      ion-icon{cursor: pointer;background: #feb739;color: #fff;border-radius: 50%;font-size: 1rem;border: 3px solid #fff;position: absolute;bottom: -5px;right: -10px;margin: auto;padding: 5px;z-index: 999;}
    }
    .formRowsDv{
      .fieldRow{
        border-bottom: none;margin: 0 15px;
        ion-item{
          border-bottom: 1px solid #7c859f47;--padding-start: 0;--padding-end: 0;--inner-padding-end: 0;--min-height: 35px !important;margin: 0;padding: 0;
          ion-label.label-floating {--color:#3093fe;}
          ion-label{
            margin: 0;font-family: 'Poppins';font-weight:400;color: #2da8fe;font-size: 1rem;padding: 0;display: flex;align-items:center;overflow:visible;
            span{font-size: 0.8rem;margin-left: 3px;color:#b6bed7;font-weight:400;}
          }
          ion-datetime{
            --padding-top: 0;--padding-bottom: 2px;font-family: "Roboto";font-weight: 400;font-size: 14px;
            &.datetime-placeholder{color: #7c859f;}
          }
          ion-select{padding: 0;}
        }
        .btnRow ion-button {margin: 5px 0px 30px;}
        .selectDv{
          ion-label {padding: 0px 20px;font-family: "Roboto";color: #006ed1;font-weight: 600;font-size: 11px;text-transform: uppercase;}
          ion-select {
            padding: 0;color: black;font-weight: 400;font-family: "Roboto";
            .select-icon {color: #006ed1 !important;}
          }
        }
      }
    }
    .selectInp{
      position: relative;
      div.clickDv{position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 999;}
      &:before{content: '';right: 4px;top: 50%;margin-top: -3px;position: absolute;width: 0px;height: 0px;color: currentcolor;pointer-events: none;border-top: 5px solid #bcbcbc;border-right: 5px solid transparent;border-left: 5px solid transparent;}
    }
    .profileinfo {
        margin: 0px auto;padding: 0px;text-align: center;max-width: 140px;
        h2 {font-family: "Poppins";color: #000000;font-weight: 500;font-size: 14px;margin: 0px;padding: 0px;text-align: center;}
        p {margin: 5px 0px;font-family: "Roboto";color: #7c859f;font-weight: 400;font-size: 13px;padding: 0px;text-align: center;}
    }
    .services{
              margin:10px 0 0;display: flex;align-items: center;flex-flow: wrap;
              .item{
                min-height: 25px;align-items: center;box-shadow: 0px 0px 8px #a4b7c566;margin: 0;padding: 5px 10px;display: flex;min-width: 90px;border-radius: 52px;position: relative;
                  p{margin: 0;font-size: 11px;font-weight: 500;font-family: "Roboto";}
                  ion-icon[name="close"]{cursor: pointer;color: #a1accc;font-size: 0.8rem;position: absolute;right: 7px;top: 0;bottom: 0;margin: auto 0;}
      }
    &.language{
        .item{
            padding: 5px 10px 5px 15px;
            ion-icon[name="close"]{cursor: pointer;margin:auto 0 auto auto;}
        }
    }
    }
    .formRowsDv .fieldRow ion-item ion-icon.userIcon {cursor: pointer;margin: auto 10px !important;}
    .formRowsDv .fieldRow ion-item + ion-note {padding: 4px 15px 0;}
    .formRowsDv {padding: 0;margin: 0 8px;}
    .formRowsDv .fieldRow ion-item ion-input, .formRowsDv .fieldRow ion-item ion-select, .formRowsDv .fieldRow ion-item ion-datetime, .formRowsDv .fieldRow ion-item ion-textarea {
      opacity: 30;--opacity: 30px;--placeholder-opacity: 30px;
      input {     opacity: 30;--opacity: 30px;--placeholder-opacity: 30px;}
    }
    .disabled {
      position: relative;
      &:before {content: '';position: absolute;top: 0;bottom: 0;left: 0;z-index: 99999;right: 0;}
    }
  }