ion-content{
    background: url(../../../../assets/images/background.jpg) no-repeat;background-size: cover;
    >figure{margin: 5vh auto 1vh;width: 180px;}
    .backBtn {position: absolute;top: 15px;}
    .formHeading{
        font-family: "Poppins";display: block;text-align: center;color: #000;font-weight: 500;font-size: 17px;position: relative;margin: 0 auto 15px;
        span{display: block;font-weight: 300;font-size: 12px;margin-top: 14px;letter-spacing: 0px;margin-left: 2px;font-family:"Roboto";}
        &:after{content: "";background: #7c859f8c;width: 20px;height: 1px;position: absolute;bottom: -5px;left: 0;right: 0;margin: auto;}
    }
    .footer{
        text-align: center;padding: 10px 0px;
        ion-label {display: flex;align-items: center;justify-content:center;position: relative;}
        span{font-family: "Roboto";display: block;color: #7c859f;font-size: 12px;}
        ion-button{
          --padding-bottom: 0px;--padding-end: 0px;--padding-start: 5px;--padding-top: 0px;font-family: "Poppins";--background: transparent;--box-shadow: none;--background-activated: transparent;--background-focused: transparent;--background-hover: transparent;--color: #2da8fe;--color-activated: #2da8fe;--color-focused: #2da8fe;font-weight: 500;height: 20px;font-size: 14px;
          &:after{content: "";background: #2da8fe;width:65px;height: 2px;bottom: 4px;position: absolute;left: 140px;right: 0;margin: auto;}
        }
    }
    .formRowsDv .fieldRow ion-item {--min-height: 35px !important;}
    .formRowsDv .fieldRow ion-item ion-icon.phoneDv {font-size: 1rem !important;cursor: pointer;}
    .formRowsDv .fieldRow ion-item + ion-note {padding: 0 50px;}
    .formRowsDv .btnRow ion-button {font-weight: 500;letter-spacing: 0.1px;}
    .formRowsDv .fieldRow ion-item ion-label.label-floating {font-weight: 400;}
    .formRowsDv .fieldRow ion-item ion-label.label-floating {padding: 0;}
    .footer ion-button {font-family: "Roboto";display: block;font-size: 12px;letter-spacing: 0px;font-weight: 400;}
  }