<ion-content>
  <ion-icon class="backBtn" (click)="goToSignIn()" src="../../../assets/svg/icon-back.svg"></ion-icon>
  <figure><img src="../../../../assets/images/logo.png" /></figure>
  <ion-label class="formHeading">Forget Password</ion-label>
  <form #Form="ngForm">
    <ion-grid class="formRowsDv">
      <ion-row class="fieldRow">
        <ion-col>
          <ion-item>
            <ion-icon src="../../../assets/svg/email4.svg" slot="start" class="emailIcon"></ion-icon>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input pattern="^[^@]+@[^@]+\.[^@]+$" type="email" [(ngModel)]="user.email" #email="ngModel" [value]="user.email" name="email">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="btnRow">
        <ion-col>
          <ion-button (click)="recoverAccount()">Recover My Account</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div class="footer">
    <ion-label class="signup"><span>Already have an account?</span>
      <ion-button (click)="goToSignIn()">Sign In HERE</ion-button>
    </ion-label>
  </div>
</ion-content>