@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular-webfont.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium-webfont.ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold-webfont.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold-webfont.ttf');
    font-weight: 700;
    font-style: normal;

}

