<ion-content>
  <figure><img src="../../../assets/images/logo.png" /></figure>
  <ion-label class="formHeading">LOGIN</ion-label>
<form #SignInForm="ngForm">
  <input autocomplete="false" name="hidden" type="text" style="display:none;">
  <ion-grid class="formRowsDv">
    <ion-row class="fieldRow">
      <ion-col>
        <ion-item>
          <ion-icon src="../../../assets/svg/icon-user2.svg" slot="start" class="emailIcon"></ion-icon>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input pattern="^[^@]+@[^@]+\.[^@]+$" type="email" required [(ngModel)]="emailTxt" #email="ngModel" [value]="emailTxt" name="email">
          </ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="email.touched && email.invalid">Invalid Email</ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="fieldRow">
      <ion-col>
        <ion-item>
          <ion-icon src="../../../assets/svg/password1.svg" slot="start" class="password-icon"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required [(ngModel)]="passwordTxt" #password="ngModel" [value]="passwordTxt" name="password"></ion-input>
          <ion-icon (click)="toggleShowPassword(password)" *ngIf="!showPassword" src="../../../assets/svg/icon-password-visible.svg" slot="end" class="password-toggle-icon"></ion-icon>
          <ion-icon (click)="toggleShowPassword(password)" *ngIf="showPassword" src="../../../assets/svg/icon-password-hidden.svg" slot="end" class="password-toggle-icon"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
     <ion-row class="rememberItems">
      <ion-col size="6">
        <ion-item>
          <!-- <ion-label>Remember</ion-label>
          <ion-checkbox checked="true" slot="start"></ion-checkbox> -->
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <label (click)="goToForgetPassword()">Forgot Password ?</label>
      </ion-col>
    </ion-row>

    <ion-row class="btnRow">
      <ion-col>
        <ion-button [disabled]="SignInForm.invalid" (click)="signIn()">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<div class="footer">
  <span>If you don’t have an account</span>
  <ion-button (click)="goToSignUp()">SIGNUP HERE</ion-button>
</div>
</ion-content>